.accordion {
  width: 90%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question {
  background-color: rgb(241, 241, 241);
  border-radius: 30px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h2 {
  text-transform: none!important;
}

.answer {
  max-height: 0;
  padding: 5px 22px;
  overflow: hidden;
  transition: max-height 1.2s ease-out;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.45rem;
  font-style: italic;
  white-space: pre-line;
}

.faq.active .answer {
  max-height: fit-content;
  animation: fade 0.5s ease-in-out;
}

.faq.active img {
  transform: rotate(180deg);
}

.dropdown-icon {
  width: 20px;
  transition: transform 0.8s ease-in;
}

h3 {
  font-size: 1.6rem;
}

.btn-ortodontia {
  width: 90%;
  font-size: 1.6rem;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (min-width: 1000px) {
  .accordion {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 20px; /* Espaço entre as colunas */
  }

  .question {
    margin: auto;
    padding: 5px 17px;
    width: 90%;
  }

  .btn-ortodontia {
    width: 85%;
  }

  .question h3{
    text-align: left;
  }
}