.banner {
  margin-top: 4rem;
  background: var(--gradient-light-blue-color);
}

.banner-content {
  padding: 40px;
}

.banner-content img {
  margin: auto;
  max-width: 50rem;
}

.service-container {
  padding-bottom: 0;
}

.service {
  margin-top: 2rem;
  padding: 8px 51px;
}

@media (min-width: 768px) {
  .banner-content img {
    max-width: 70rem;
  }

  .banner-content {
    display: flex;
    justify-content: center;
  }

  .service {
    margin-left: 2rem;
  }
}